<input id="pcgf-autodrafts-save" class="button2 hidden" type="submit" value="{L_PCGF_QUICK_DRAFT}"/>
<input id="pcgf-autodrafts-load" class="button2 hidden" type="submit" value="{L_PCGF_LOAD_DRAFT}"/>
<div id="pcgf-autodrafts-container" class="panel bg2 hidden">
    <input id="pcgf-autodrafts-forum-id" type="hidden" value="{S_FORUM_ID}"/>
    <input id="pcgf-autodrafts-topic-id" type="hidden" value="{S_TOPIC_ID}"/>
    <div id="pcgf-autodrafts-drafts"></div>
</div>
<script type="text/javascript">
    var pcgfAutoSaveInterval = '{PCGF_AUTO_SAVE_INTERVAL}';
    var pcgfLanguageAutoDraft = '{LA_PCGF_AUTO_DRAFT}';
    var pcgfLanguageDraftMessage = '{LA_PCGF_DRAFT_MESSAGE}';
    var pcgfLanguageDraftSubject = '{LA_PCGF_DRAFT_SUBJECT}';
    var pcgfLanguageDraftTime = '{LA_PCGF_DRAFT_TIME}';
</script>
<!-- INCLUDEJS js/autodrafts.js -->